.Srvice-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 30px;
    margin-left: 10px;
    margin: 0 auto;
 
}

.Service-header {
    text-align: center;
}

.srvice-img {
    padding: 10px;
    height: 80px;
    margin: 10px;
    margin-left: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 50px;
}

.srvice-img:hover {
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.service-text {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
   
}
/* .img1{
    margin-left: -80px;
}

.text1{
    margin-left: 80px;
}

.text2{
    margin-left: 105px;
}
.text3{
    margin-left: 85px;
}
.text4{
    margin-left: 95px;
}
.text5{
    margin-left: 90px;
}
.text6{
    margin-left: 85px;
}
.img3{
    margin-left: 25px;
} */
.img3{
    margin-left: 25px;
} 
.img5{
    margin-left: 30px;
} 
.img6{
    margin-left: 11px;
} 
@media screen and (max-width: 768px) {
    .srvice-img {
        height: 60px;
        margin-left: 20px;
        margin-top: 20px; 
    }

    .service-text {
        margin-left: 10px; 
        font-size: 13px; 
    }
}





     